p {
    color:white;
    font-size:2em;
}
body {
    background-color: #8A0000;
}
h1{
    font-size:10em;
    color:white;
}

h2{
    font-size: 4em;
    color:white;
}


li {
    font-size: 50px;
    color:white;
    font-size:3em
}

p {
    font-size: 2em;
    color:white;
    font-family: "Comfortaa", sans-serif;
}

.image1{
    height: 1000px;
    width:1250px;
}

.image2{
    height: 1000px;
    width: 1500px;
}

.links{
    border:10px solid white;
    padding:5px;
    margin: auto;
    display: inline;
    border-radius: 20px;
    background-color: white;
    color: black;
   

}
a:link{
    color:black;
    text-decoration: none;
}
a:visited{
     text-decoration: none;
     color:black;
}
a:hover{
    color:black;
    text-decoration: none;

}
a:active{
    color:black;
    text-decoration: none;}

.description{
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    border: 2px solid yellow;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: silver;
    border: 2px solid gold;
}
.cell:hover {
    background-color: red;
}
h1 {
    text-align: center;
}